* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

:root {
  --black: black;
  --bluelight: #00ff1a;
  --bgcolor: rgb(218, 218, 218);
  --white: white;
  --psize: 1.8rem;
  --raduse: 1rem;
  --blodfamily: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 10px;
}

.logined {
  background-color: aliceblue;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.button {
  text-decoration: none;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 700;
  color: var(--white);
  background: var(--bluelight);
  border-radius: 1rem;
  padding: 1rem 4rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: none;
}
.button:hover {
  transform: scale(1.02);
}
.button:active {
  background-color: var(--black);
}

nav {
  background-color: var(--bluelight);
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100vw;
  padding: 2rem 0;
}
nav img {
  width: 17rem;
}
nav img:last-child {
  width: 2rem;
  height: 2rem;
}
nav p {
  font-size: var(--psize);
  font-weight: 600;
  font-family: var(--blodfamily);
}

.profile {
  width: 100vw;
}

.timeTest .container .card {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bgcolor);
  border-radius: var(--raduse);
}
.timeTest .container .card h3 {
  font-size: 2rem;
}

.scores {
  padding: 15rem 0 5rem 0;
  max-width: 100vw;
}
.scores .container {
  display: flex;
  padding: 2rem;
  border: 1px solid black;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--raduse);
}
.scores .container img {
  width: 40rem;
  border-radius: 50%;
}
.scores .container .detales h3 {
  font-size: 5rem;
}
.scores .container .detales p {
  font-size: 3rem;
  margin: 1rem 0;
}
.scores .container .detales span {
  font-size: 2rem;
}

.testlar {
  margin: 5rem 0;
}
.testlar .container {
  gap: 2rem;
  flex-direction: column;
}
.testlar .container h3 {
  font-size: 4rem;
  font-family: var(--blodfamily);
}
.testlar .container .test {
  background-color: var(--bgcolor);
  width: 100%;
  padding: 4rem;
  position: relative;
  border-radius: var(--raduse);
  overflow: hidden;
}
.testlar .container .test h3 {
  font-size: 2.5rem;
}
.testlar .container .test p {
  font-size: var(--psize);
  margin: 1rem 0 2rem;
}
.testlar .container .test button {
  font-size: var(--psize);
  border: 0;
}
.testlar .container .test:before {
  content: "";
  top: 0rem;
  right: -175px;
  width: 200px;
  height: 500px;
  background-color: #00ff1a;
  position: absolute;
}
.testlar .container .test:hover {
  transform: scale(1.05);
}

.footer-bottom {
  z-index: 5;
  background: var(--bluelight);
  text-align: center;
  padding: 0 0;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.exam {
  margin-top: 15rem;
}
.exam form {
  max-width: 100rem;
  padding: 3rem;
  font-size: var(--psize);
}
.exam form h3 {
  margin-top: 4rem;
  font-size: var(--psize)30px;
}
.exam form input {
  font-size: var(--psize);
}
.exam form .input {
  margin: 4rem 0;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 9px;
  }
  .scores {
    padding: 15rem 0 5rem 0;
  }
  .scores .container {
    display: flex;
    margin: 0 2rem;
    border: 1px solid black;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: var(--raduse);
  }
  .scores .container img {
    width: 40rem;
    border-radius: 50%;
  }
  .scores .container .detales h3 {
    font-size: 3rem;
  }
  .scores .container .detales p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
}
.modal {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(143, 241, 153, 0.6588235294);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal p {
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
}
.modal p .content {
  font-size: 2rem;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */